// agency html
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$primary :#f5245f;
$secondary : #2e2e2e;

$white :#ffffff;
$black :#000000;
$red :red;
$gray :#a5a5a5;

