body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #2e2e2e; }

h1 {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  color: #ffffff; }
  h1 span {
    color: white;
    background: #f5245f;
    font-weight: 800; }

h2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: #2e2e2e; }

h3 {
  color: #2e2e2e;
  font-weight: 700;
  font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300))); }

h5 {
  font-size: calc(21px + (24 - 21) * ((100vw - 300px) / (1600 - 300))); }

h6 {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }

span.bg-pink {
  background: #f5245f;
  color: white; }

p {
  color: gray;
  line-height: 1.8;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }

.title {
  margin-bottom: 40px; }
  .title img {
    margin-bottom: 10px; }

a,
a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  color: #000000;
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300))); }

section,
footer {
  padding: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300))) 0; }

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.btn-sale {
  padding: 10px;
  border-radius: 25px;
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
  color: #ffffff;
  font-weight: 600;
  background-color: #f5245f; }
  .btn-sale:hover {
    background-color: #ffffff;
    color: #f5245f; }

.btn-default {
  padding: 8px 25px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0;
  background-color: #f5245f;
  text-transform: uppercase;
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
  background-position: 0 -1px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #2e2e2e;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.navbar-brand {
  font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif; }

.navbar.darkHeader {
  background-color: #333; }
.navbar .navbar-nav .nav-item {
  padding: 0 5px; }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 4px 16px;
    text-transform: capitalize;
    opacity: 1;
    color: #ffffff;
    font-weight: 600; }
    .navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:focus, .navbar .navbar-nav .nav-item .nav-link.active {
      background-color: #f5245f;
      color: #ffffff;
      -webkit-box-shadow: 0px 15px 50px 0px rgba(245, 36, 95, 0.44);
              box-shadow: 0px 15px 50px 0px rgba(245, 36, 95, 0.44); }
.navbar .dropdown .btn-secondary,
.navbar .dropdown .btn-secondary:focus {
  color: #f5245f;
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none; }
.navbar .dropdown .dropdown-menu {
  background-color: #191919;
  border: 1px solid rgba(255, 255, 255, 0.7); }
  .navbar .dropdown .dropdown-menu .dropdown-item {
    color: white;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300))); }
    .navbar .dropdown .dropdown-menu .dropdown-item:focus, .navbar .dropdown .dropdown-menu .dropdown-item:hover {
      background-color: #464646;
      color: #f5245f; }

.large-space {
  letter-spacing: 9px;
  font-weight: 700;
  color: #f5245f;
  margin-bottom: 15px; }

.owl-carousel {
  overflow: hidden; }
  .owl-carousel.owl-theme img {
    width: auto;
    height: auto;
    max-width: 100%; }
  .owl-carousel.owl-theme .owl-nav button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #f5245f;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0; }
    .owl-carousel.owl-theme .owl-nav button i {
      color: white;
      font-size: 20px; }
    .owl-carousel.owl-theme .owl-nav button.owl-prev {
      left: -115px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .owl-carousel.owl-theme .owl-nav button.owl-next {
      right: -115px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .owl-carousel.owl-theme .owl-nav button:hover {
      background: #f8be82; }

.hover-slide:hover .owl-nav button.owl-prev {
  left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
.hover-slide:hover .owl-nav button.owl-next {
  right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.agency-section {
  height: 100vh; }
  .agency-section .set-bg {
    background-size: cover;
    background-position: right bottom;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5); }
    .agency-section .set-bg.bg1 {
      background-image: url(../images/slide1.jpg); }
    .agency-section .set-bg.bg2 {
      background-image: url(../images/slide1.jpg); }
  .agency-section .center-content {
    height: calc(100vh - 52px); }
  .agency-section .slider-sec {
    margin-top: 52px; }
  .agency-section .color-animated {
    font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 3px;
    font-weight: 800; }
  .agency-section .diff-text.change {
    font-weight: 800;
    font-size: calc(20px + (44 - 20) * ((100vw - 300px) / (1600 - 300))); }
  .agency-section h6 {
    opacity: 0.8;
    margin-bottom: 15px; }
  .agency-section p {
    width: 55%;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 1px;
    margin: 20px 0; }

.about-section .border-design {
  position: relative;
  margin-bottom: 15px;
  display: inline-block; }
  .about-section .border-design:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 3px solid #f5245f;
    left: -15px;
    top: 15px;
    width: 100%;
    z-index: 1; }
  .about-section .border-design .img-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
.about-section .food-desc h6 {
  margin-bottom: 8px; }
.about-section .food-desc .change {
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px; }
.about-section .food-desc p {
  padding-right: calc(0px + (50 - 0) * ((100vw - 300px) / (1600 - 300))); }

.bg-pink {
  background: rgba(245, 36, 95, 0.06); }

.bg-black {
  background: #2e2e2e; }

.project-section .project-sec {
  position: relative; }
  .project-section .project-sec .project-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .project-section .project-sec .project-inner .projectses {
      position: absolute;
      left: 30px;
      padding: 30px;
      bottom: 30px;
      background-color: white; }
    .project-section .project-sec .project-inner h6 {
      font-size: calc(17px + (25 - 17) * ((100vw - 300px) / (1600 - 300)));
      text-transform: uppercase;
      font-weight: 800; }
    .project-section .project-sec .project-inner .desc {
      font-weight: 700;
      font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1600 - 300)));
      color: #f5245f;
      text-transform: capitalize; }
  .project-section .project-sec:hover .project-inner {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1; }

.feature-section .icon-content {
  position: absolute;
  height: 42px;
  width: 42px;
  border-radius: 100%;
  background: #f5245f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px; }
  .feature-section .icon-content i {
    color: white;
    font-size: 18px; }
.feature-section .text-content {
  padding-left: 60px; }
  .feature-section .text-content h4 {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300))); }
  .feature-section .text-content p {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300))); }

.testimonial-section {
  background: url(../images/testimonial-bg.jpg);
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(46, 46, 46, 0.99);
  background-size: cover;
  background-attachment: fixed; }
  .testimonial-section .testimonial-sec P {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 400;
    padding: 0 calc(14px + (100 - 14) * ((100vw - 300px) / (1600 - 300))); }
  .testimonial-section .testimonial-sec .quote {
    font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: #f5265f; }
  .testimonial-section .testimonial-sec .user-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    overflow: hidden;
    margin: 15px auto;
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); }
    .testimonial-section .testimonial-sec .user-img img {
      height: 100%;
      width: 100%; }
  .testimonial-section .testimonial-sec .u-name {
    margin-bottom: 0;
    color: #f5245f;
    font-weight: 700;
    text-transform: capitalize; }

.blog-section .owl-item {
  padding: 10px; }
.blog-section .blog-container {
  -webkit-box-shadow: 0 0 10px #1b1b1bad;
          box-shadow: 0 0 10px #1b1b1bad;
  background-color: white;
  position: relative;
  border: 1px solid #131313; }
  .blog-section .blog-container .blog-title {
    font-weight: 600;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px; }
    .blog-section .blog-container .blog-title::before {
      content: '';
      background: url(../images/demo-bg.png);
      height: 3px;
      position: absolute;
      bottom: 0;
      width: 45px; }
  .blog-section .blog-container .para {
    font-size: calc(12px + (13 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6); }
  .blog-section .blog-container .img-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    padding: 20px; }
  .blog-section .blog-container .name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px; }

.counter-section i {
  font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
  color: #f5245f; }
.counter-section .counts {
  margin: 8px 0; }
.counter-section .desc {
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 0;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }

.contact-section .contact-area {
  -webkit-box-shadow: 0 0 15px 0 #ddd;
          box-shadow: 0 0 15px 0 #ddd; }
  .contact-section .contact-area .form-container {
    padding: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300))) calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300))); }
  .contact-section .contact-area .contact-form {
    background: url(../images/contact.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    height: 100%; }
  .contact-section .contact-area .p-r-0 {
    padding-right: 0 !important; }
  .contact-section .contact-area .p-l-0 {
    padding-left: 0 !important; }
  .contact-section .contact-area .form-group {
    margin-bottom: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300))); }
    .contact-section .contact-area .form-group ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5);
      text-transform: capitalize; }
    .contact-section .contact-area .form-group :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5);
      text-transform: capitalize; }
    .contact-section .contact-area .form-group ::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5);
      text-transform: capitalize; }
    .contact-section .contact-area .form-group ::placeholder {
      color: rgba(0, 0, 0, 0.5);
      text-transform: capitalize; }
    .contact-section .contact-area .form-group .form-control {
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 600;
      padding: 13px 16px;
      font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1600 - 300))); }
      .contact-section .contact-area .form-group .form-control:focus {
        -webkit-box-shadow: 0 0 15px #d4d4d4;
                box-shadow: 0 0 15px #d4d4d4;
        border-color: white !important; }

footer {
  position: relative;
  background: #2e2e2e; }
  footer > .container {
    margin-bottom: 60px; }
  footer .navbar-brand {
    color: #f5245f; }
  footer .para {
    color: rgba(255, 255, 255, 0.8);
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.7;
    font-weight: 500; }
  footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .social li {
      display: inline-block; }
      footer .social li a {
        display: inline-block;
        padding: 10px; }
        footer .social li a i {
          color: #ffffff; }
        footer .social li a:hover i {
          color: rgba(245, 36, 95, 0.8); }
  footer .inner-block .heading {
    color: #ffffff;
    text-transform: uppercase;
    font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    margin-bottom: 25px; }
  footer .inner-block ul li a {
    color: rgba(255, 255, 255, 0.9);
    text-transform: capitalize;
    font-weight: 500; }
    footer .inner-block ul li a:hover, footer .inner-block ul li a:focus, footer .inner-block ul li a:active {
      color: rgba(245, 36, 95, 0.8); }
  footer iframe {
    height: 100%;
    width: 100%; }

.copyright-sec {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  .copyright-sec p {
    padding: 15px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8); }

.top-slide {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #f5245f;
  height: 50px;
  width: 50px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 9; }

.top-slide i {
  color: white;
  font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300))); }

.color-animated {
  -webkit-animation: color-change 1s infinite;
  animation: color-change 2s infinite;
  color: #000; }

@-webkit-keyframes color-change {
  0% {
    color: #fff; }
  50% {
    color: red; }
  100% {
    color: #dbdbdb; } }
@keyframes color-change {
  0% {
    color: #fff; }
  50% {
    color: red; }
  100% {
    color: #dbdbdb; } }
.dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  left: 95px;
  background: #f5245f;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate; }

.dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  left: 80px;
  background: #2e2e2e;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate; }

.dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 65px;
  background: #f5245f;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate; }

@-webkit-keyframes jump-jump-1 {
  0%,
    70% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes jump-jump-1 {
  0%,
    70% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes jump-jump-2 {
  0%,
    40% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes jump-jump-2 {
  0%,
    40% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes jump-jump-3 {
  0%,
    10% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes jump-jump-3 {
  0%,
    10% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.loader-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 1031;
  top: 0; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 2px;
  color: #fff; }
